*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Lexend';
    src: url('../assets/fonts/Lexend-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    src: url('../assets/fonts/Lexend-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    src: url('../assets/fonts/Lexend-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {scroll-behavior: smooth;}
body {
    font-family: "Lexend", sans-serif;
    background-color: #f8f8f8;
    overflow-x: hidden;
}

a {color: #d41c1c;}

.text-center {text-align: center;}
.uppercase {text-transform: uppercase;}

.flex {display: flex;}
.column {flex-direction: column;}
.align-center {align-items: center;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}
.flex-wrap {flex-wrap: wrap;}
.gap-40 {gap:40px}
.gap-30 {gap:30px}
.gap-20 {gap:20px}
.gap-10 {gap:10px}
.gap-5 {gap:5px}
.grow {flex-grow: 1;}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;
}

.section {margin: 60px 0;}
.section h2 {font-size: 2rem; margin-bottom: 10px;}
.section#features, .section#demo{padding-top: 30px;}
.section#demo {margin-top: 30px;}
.section#features {margin-bottom: 30px;}
.section--read{
    padding: 80px 0 90px 0;
    color: white;
    background-image: url(../assets/img/bg_1.jpg);
}

.main-header{
    color: white;
    background-color: rgba(0, 0, 0, 0.861);
    position: sticky;
    z-index: 1;
    top: -80px;
    transition: top .3s ease .3s;
    left: 0;
    width: 100%;
    height: 80px;
}

.main-header:focus-within{
    top: 0;
}

.navbar {height: 80px;}

.logo {color: white;}
.logo svg {width: auto;height: 40px;}

.menu{
    list-style: none;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.menu a{text-decoration: none; color: inherit;}
.menu a:hover{text-decoration: underline;}

#toggleMenu{
    display: none;
    cursor: pointer;
    align-items: center;
    padding: 0;
}

#toggleMenu svg{
    width: 40px;
    height: 40px;
}

.line {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.show .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.show .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.show .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.hero{
    color: white;
    height: 100svh;
    background-color: rgba(0, 255, 255, 0.37);
    background-image: url(../assets/img/hero.jpg);
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    margin-top: -80px;
}
.hero::before{
    content:"";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
}
.hero .container {position: relative; padding-top: 60px;}
.hero h1{font-size: 3.2rem;}
.hero p {font-size: 1.1rem;}

.button{
    background-color: #d41c1c;
    color: #ffffff;
    cursor: pointer;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: background 0.3s ease;
}
.button:hover {background-color: #a71010;}

.features{
    display: grid;
    color: black;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 40px;
    padding-bottom: 80px;
    padding-top: 30px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
}
.features svg{
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    padding: 30px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2);
}

.text-body {margin-top: 40px;}
.text-body p {margin: 10px 0;}
.text-body h3 {font-size: 1.125rem;}
.text-body h3.absolute-font {font-size: 18px;}
.text-body p.absolute-font{font-size: 16px;}
.text-body img{
    width: 45%;
    height: auto;
    align-self: center;
}

.filter {margin-top: 40px;}
.filter img, 
.filter canvas{
    width: calc(50% - 15px);
    max-width: 560px;
    height: auto;
    padding: 20px;
    padding-bottom: 60px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.24);
}

.main-footer{
    background-color: #363636;
    color: white;
    padding: 60px 0;
}
.main-footer .project__item{max-width: 50%;}
.main-footer .menu{font-size: 0.7rem;}
.main-footer a{color: white; margin-top: 20px;}
.main-footer ul{list-style: none;}
.main-footer li{flex-basis: 50%;}
.main-footer svg{width:30px; height: 30px;}



@media (max-width:768px){
    .hero{
        background-attachment: scroll;
    }
    .features {grid-template-columns: 1fr;}
    .show.main-header{
        position: fixed;
        top: 0;
        transition: none;
    }
    .show + .hero{margin-top: 0;}
    .menu{
        position: fixed;
        background-color: #000000c7;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        opacity: 0;
        transition: transform .5s ease, opacity .3s ease;
        height: 100lvh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(10px);
        z-index: -1;
        padding-top: 80px;
    }
    .show .menu{
        transition: transform .5s ease, opacity .5s;
        transform: translateY(0);
        opacity: 1;
    }
    #toggleMenu{display: flex;}
    #demo .text-body{flex-direction: column;}
    #demo .text-body img {width: 100%; max-width: 500px;}
    .filter img {width: 100%;margin: 0 auto;}
    .type-font {flex-direction: column;}
    #project .project__item {max-width: unset; width: 100%;}
}

@media (max-width:576px){
    
    .container {padding:0 10px}
    .hero h1 {font-size: clamp(2rem, 1.1409rem + 4.2953vw, 3.2rem);}
    .features svg {width: 100%;}
    .features__item {flex-direction: column;}
    #demo .text-body img {max-width: 300px;}
    .main-footer li {flex-basis: 100%;}
}